.profile-container {
  display: flex;
  justify-content: space-evenly;
}

.table-heading {
  border: none;
}

h2 {
  font-size: 24px;
}

.profile-table-body tbody:first-child,
td {
  border-radius: 5px 5px 0 0;
}

td {
  width: 400px;
  height: 50px;
  padding-left: 10px;
  font-weight: 500;
  font-size: 15px;
  color: grey;
}

.profile-rocket-container,
.profile-mission-container {
  border-collapse: collapse;
}
